<select class="selects" name="select-vara">
  <option value="1">1ª Vara Criminal BH</option>
  <option value="3">3ª Vara Criminal BH</option>
  <option value="4">4ª Vara Criminal BH</option>
  <option value="5">5ª Vara Criminal BH</option>
  <option value="7">7ª Vara Criminal BH</option>
  <option value="8">8ª Vara Criminal BH</option>
  <option value="9">9ª Vara Criminal BH</option>
  <option value="10">10ª Vara Criminal BH</option>
  <option value="12">12ª Vara Criminal BH</option>
  <!-- <option value="t1">1ª Vara de Tóxicos BH</option>
  <option value="t2">2ª Vara de Tóxicos BH</option>
  <option value="t3">3ª Vara de Tóxicos BH</option>
  <option value="b1">1ª Vara Criminal Betim</option>
  <option value="c2">2ª Vara Criminal Contagem</option>
  <option value="c3">3ª Vara Criminal Contagem</option>
  <option value="u1">1ª Vara Criminal Uberlândia</option>
  <option value="u2">2ª Vara Criminal Uberlândia</option>
  <option value="j4">4ª Vara Criminal Juiz de Fora</option>
  <option value="m1">1ª Vara Criminal Montes Claros</option> -->
</select>
