<div class="divComoUsar" id="divComoUsar" style="display: none">
    <p id="tit">Olá, obrigado por usar o TJFácil!</p>
    <p>O objetivo do nosso site é levar você até o site do Tribunal que precisa. Para isso, você pode usar a nossa barra de busca de duas formas:</p>

    <ul>
        <li>
            Buscando pela sigla do tribunal (p. ex.: STF, TJMG, TRF5, TRT1). Nesse caso, você será redirecionado, em uma nova aba, para a página principal do tribunal buscado.
        </li>
        <li>
            Buscando por um número de processo, no formato CNJ. Nesse caso, você será encaminhado para a página de consulta processual do tribunal em que tramita o processo.
            <div id="tab">
                Alguns tribunais possuem páginas de consulta diferentes para processos de primeira e de segunda instância e para processos eletrônicos.
                <br>Use as caixas abaixo da barra de busca para especificar essas condições ou para processos dos tribunais superiores.
                <br>Repare que você não será redirecionado diretamente para a página do processo que buscou, mas para a página de consulta do tribunal. Será preciso efetuar a busca no site do próprio tribunal para acessar a página do processo.
            </div>
         </li>
    </ul>
</div>
